@model Employee.Data.Leave

@{
    ViewData["Title"] = "Edit Leave";
}

<h2>Edit Leave</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="LeaveId" />
    <div class="form-group mb-4">
        <label asp-for="LeaveType" class="control-label mb-2"></label>
        <input asp-for="LeaveType" class="form-control" />
        <span asp-validation-for="LeaveType" class="text-danger"></span>
    </div>
    <div class="form-group mb-4">
        <label asp-for="Status" class="control-label mb-2"></label>
        <input asp-for="Status" class="form-control" />
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <div class="form-group mb-4">
        <label asp-for="StartDate" class="control-label mb-2"></label>
        <input asp-for="StartDate" class="form-control" type="date" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-group mb-4">
        <label asp-for="EndDate" class="control-label mb-2"></label>
        <input asp-for="EndDate" class="form-control" type="date" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-area="" asp-controller="Employee" asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
