@model Employee.Data.Permission


<h2>Create Permission</h2>

<form asp-action="Create" method="post">
    <div class="form-group mb-4">
        <select asp-for="EmployeeId" class="form-control" asp-items="@(new SelectList(ViewBag.Employees, "EmployeeId", "Name"))">
            <option value="">Select Employee</option>
        </select>
        <span asp-validation-for="EmployeeId" class="text-danger"></span>
    </div>

    <div class="form-group mb-4">
        <label asp-for="PermissionType" class="control-label mb-2">Permission Type</label>
        <input asp-for="PermissionType" class="form-control" />
        <span asp-validation-for="PermissionType" class="text-danger"></span>
    </div>
    <div class="form-group mb-4">
        <label asp-for="Status" class="control-label mb-2">Status</label>
        <input asp-for="Status" class="form-control" />
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
    <div class="form-group mb-4">
        <label asp-for="Date" class="control-label mb-2">Start Date</label>
        <input asp-for="Date" class="form-control" type="date" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
